@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    box-sizing: border-box; /* borda dos elementos não ocupa área*/
    font-family: 'Open Sans', 'Sans-Serif';
}

html, body {
    background-color: #ddd;
}

header {
    background-color: #4D41C0;
    color: #FFF;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a, a:hover { /*hover: quando passar o mouse em cima. */
    text-decoration: none; /* não terá nenhuma decoração no texto */
    color: unset; /*não foi definido nenhuma cor.*/
}